@keyframes blink{
	0% {
		border-inline-end: 6px solid rgba(255, 255, 255, 0.75);
	}
	49% {
		border-inline-end: 6px solid rgba(255, 255, 255, 0.75);
	}
	50% {
		border-inline-end: 6px solid rgba(255, 255, 255, 0);
	}
	100% {
		border-inline-end: 6px solid rgba(255, 255, 255, 0);
	}
}
@keyframes blinkL{
	0% {
		border-inline-end: 6px solid rgba(0, 0, 0, 0.6);
	}
	49% {
		border-inline-end: 6px solid rgba(0, 0, 0, 0.6);
	}
	50% {
		border-inline-end: 6px solid rgba(0, 0, 0, 0);
	}
	100% {
		border-inline-end: 6px solid rgba(0, 0, 0, 0);
	}
}
@keyframes copy{
	0% {
		opacity: 0.75;
	}
	100% {
		opacity: 0;
	}
}
@keyframes rotate{
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}