*.light{
	#common{
		background-color: $light;
	}
	.button > #del{
		filter: brightness(0%);
	}
	.button, #output{
		color: black;
		background-color: $white;
	}
	#ans{
		color: #5c5c5c;
	}
	#find{
		border-inline-end: 6px solid rgba(0, 0, 0, 0.6);
	}
	#find.blink{
		animation: blinkL 1.5s linear forwards infinite;
	}
	.Enter{
		background-color: #a4b4fc!important;
	}
	.orange{
		background-color: $blue!important;
	}
	#more{
		color: black;
		background-color: $blue;
	}
	body{
		background-color: $light;
	}
	*, body{
		scrollbar-color: $blue $light;
	}
	*::-webkit-scrollbar-track{
		background: $light;
	}
	*::-webkit-scrollbar-thumb{
		background-color: $blue;
		border: 3px solid $light;
	}
}