/*Файл пользовательских стилей 
для классов и ID проекта "Калькулятор | ivanvit.ru"
Project: https://calc.ivanvit.ru

GitHub: https://github.com/ivanvit100
E-Mail: develope@ivanvit.ru */

.button{
	width: 90%;
	height: 90%;
	border-radius: 90px;
	border: 0;
	background-color: $back-dark; 
	color: white;
	font-size: 23px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button:hover, .button.hover{
	-webkit-box-shadow: 0px 1px 42px -7px rgba(0, 0, 0, 0.72) inset; 
	-moz-box-shadow: 0px 1px 42px -7px rgba(0, 0, 0, 0.72) inset; 
	box-shadow: 0px 1px 42px -7px rgba(0, 0, 0, 0.72) inset;
}
#more > div:hover{
	-webkit-box-shadow: 0px -5px 5px -6px rgba(0, 0, 0, 0.7) inset;
	-moz-box-shadow: 0px -5px 5px -6px rgba(0, 0, 0, 0.7) inset; 
	box-shadow: 0px -5px 5px -6px rgba(0, 0, 0, 0.7) inset;
}
#find{
	display: block;
	border-inline-end: 6px solid rgba(255, 255, 255, 0.75);
}
#ans{
	font-size: 40px;
	color: #c7c7c7;
}
.orange{
	background-color: $orange !important;
}
#output{
	background-color: #363534;
	border: 0;
	width: 100wv;
	height: 240px;
	color: white;
	font-size: 75px;
	padding: 30px 30px;
	text-align: end;
	box-shadow: inset 0px -3px 13px -4px rgba(0, 0, 0, 0.72);
}
#common{
	display: grid;
	padding: 10px;
	width: 100%;
	background-color: $dark;
	grid-template-rows: 75px 75px 75px 75px 75px;
	grid-template-columns: 25% 25% 25% 25%;
	-webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.32) inset;
	-moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.32) inset; 
	box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.32) inset;
}
.Enter{
	background-color: #faaf00 !important;
}
.blink{
	animation: blink 1.5s linear infinite;
}
#del{
	height: 30%;
}
#switch, #mode{
	position: absolute;
	top: -20px;
	left: 20px;
	z-index: 9
}
.swh, #currencyButton, #calcButton{
	height: 25px;
}
#copy{
	background-color: $white;
	width: 140px;
	height: 40px;
	position: fixed;
	left: calc(50vw - 60px);
	bottom: -200px;
	text-align: center;
	border: 0;
	border-radius: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	color: black;
	opacity: 0;
	transition: opacity 1s;
	z-index: 2;
}
#more{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 75px 75px 75px 75px 75px;
	color: white;
	font-size: 23px;
	background-color: $orange;
	padding: 10px;
	min-height: calc(100vh - 240px);
}
#more > div{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#more_hide, #currencyChange{
	background-color: $orange;
	width: 100%;
	height: 25px;
}
#pi{
	font-family: origin;
}
#arrow{
	position: relative;
	top: 4px;
	height: 60%;
	margin-left: 25px;
	filter: invert(100%);
	transition: transform .2s;
}
.toMore{
	transform: rotate(0deg);
}
.toCommon{
	transform: rotate(180deg);
}
.copyInput{
	position: absolute;
	top: -200px;
	left: -200px;
}
#converterKeyboard{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 35px 75px 75px 75px 75px;
	padding: auto;
	align-items: center;
}
#currencyChange{
	grid-column: 1 / 4;
	align-self: start;
	width: 100vw;
}
#mode{
	top: 130px;
}